<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Familiar</title>
    <script src="https://kit.fontawesome.com/9c9a98a47a.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/dashboard.css" />
</head>
<body>
    <div class="wrapper">
    <!-- Sidebar Navbar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Familiar Sidebar</h3>
        </div>

        <ul class="list-unstyled components">
            <p>Your Profile</p>
            <li class="active">
                 <ul class="nav" style="font-size:1.5em; justify-content: space-evenly;">
                      <li class="nav-item">
                         <a class="nav-link" href="#">
                               <i class="far fa-comment-alt fa-fw"></i>
                        </a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link" asp-controller="Character" asp-action="Index">
                                <i class="far fa-address-book fa-fw"></i> 
                        </a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link" href="#">
                                <i class="fas fa-cog fa-fw"></i> 
                        </a>
                    </li>
                </ul> 
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Home</a>
                <ul class="collapse list-unstyled" id="homeSubmenu">
                   @foreach(var c in ViewBag.Characters)
                   {
                     <li><a href="#">@c.Name</a></li>
                   }
                 </ul>
            </li>
            <li>
                <a href="#">About</a>
            </li>
            <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">Pages</a>
                <ul class="collapse list-unstyled" id="pageSubmenu">
                      <li>
                        <a href="#">Page 1</a>
                    </li>
                    <li>
                        <a href="#">Page 2</a>
                    </li>
                    <li>
                        <a href="#">Home 3</a>
                    </li>
                </ul>
    </nav>

    <!-- Page Content -->
    <main id="content">
        @Html.Partial("_DashboardNavBar")
        <section class="row">
        <article class="col-md-9">
             @RenderBody()
        
        </article>
        <article class="col-md-3 chatlog">

        </article>
        </section>
        <footer class="footer-chatbar">
            
            <div class="input-group chatbar">
                <div class="input-group-prepend">
                    <span class="input-group-text">With textarea</span>
            </div>
                <textarea class="form-control" aria-label="With textarea"></textarea>

            <ul class="nav footerdash">
                      <li class="nav-item">
                         <a class="nav-link">
                              <i class="far fa-paper-plane fa-fw"></i>
                        </a>
                    </li>
                     <li class="nav-item">
                         <a class="nav-link">
                                <i class="fas fa-dice fa-fw"></i>
                        </a>
                    </li>
                      <li class="nav-item">
                          <a class="nav-link">
                                <i class="far fa-clone fa-fw"></i>
                        </a>
                    </li>
                </ul> 
            </div>
        </footer>
    </main>
</div>



    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.1/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/js/sidebar.js" asp-append-version="true"></script>
    <script src="~/js/dashboard.js"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>

